---
title: "Hi, I am Winston."
layout: default
---

%article.index
  %h3
    Contents
  {% for post in site.posts %}
  %article.post
    %span.date
      {{ post.date | date_to_string | upcase }}
    %a{href: "{{ post.url }}"}
      {{ post.title }}
  {% endfor %}
