---
title: "WinstonYW - Just Another Tech Journal"
layout: default
---

%article.index
  %h2
    Contents
  {% for post in site.posts %}
  %article.post-link
    %span.date
      {{ post.date | date: "%d %b %y" | upcase }}
    %a{href: "{{ post.url }}"}
      {{ post.title }}
  {% endfor %}
