@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Advent+Pro|Nova+Mono);

@mixin yanone {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

@mixin advent {
  font-family: 'Advent Pro', sans-serif;
}

@mixin mono {
  font-family: 'Nova Mono', cursive;
}

$lturqoise: #8DF0E6;
$mturqoise: #59B2AC;
$dturqoise: #21AABD;

$lpink    : #FFD1DE;
$mpink    : #FF85A7;
$dpink    : #F94B62;

$lyellow  : #F8FF66;
$myellow  : #FFD446;
$dyellow  : #EFAB2E;

$lgrey    : #E1E1E1;
$mgrey    : #C2C2C2;
$dgrey    : #737373;

$white    : #FFFFFF;
$black    : #444444;

$font-size: 16px;

$mobile   : max-width 500px 6;

h1 { font-size: 4.0em; @include yanone; }
h2 { font-size: 2.0em; @include advent; }
h3 { font-size: 1.5em; @include advent; }
h4 { font-size: 1.2em; @include advent; }

a, a:visited {
  color: $dturqoise;
  text-decoration: none;
}
a:hover {
  color: $dpink;
}

blockquote {
  margin      : 0 0 1.5em 0;
  padding     : 0.1em 1.5em;

  border-left : 2px solid $lpink;
  font-style  : italic;
  color       : $mpink;
}

code {
  font-size   : 0.8em;
  font-family : 'Courier New';
  color       : $dgrey;
  background  : #f8f8f8;
  border      : 1px solid #cccccc;
}

p code {
  display     : inline;
  margin      : 0 2px;
  padding     : 0 0.5em;
}

pre code {
  display     : block;
  @include span-columns(8 of 8);
  margin      : 0 0 2em 0;
  padding     : 1em;
  overflow    : hidden;
  overflow-x  : scroll;
}

img {
  border      : 1px dashed $mpink;
}

p {
  margin      : 0 0 1.5em 0;
  line-height : 1.5em;
}

ul {
  li {
    margin    : 0 0 0.5em 0;
  }
}

ul li > ul {
     margin  : 0.5em 0 1em 0;
}
