$lturqoise: #0AD1C3;
$mturqoise: #90CACC;
$dturqoise: #21AABD;

$dpink    : #F94B62;
$mpink    : #FF85A7;
$lpink    : #FFD1DE;

$dorange  : #F79707;
$morange  : #F5B038;
$lorange  : #EDD455;

$lgrey    : #DFDED6;
$mgrey    : #C5C6B8;
$dgrey    : #888888;

$white: #FFFFFF;


body {
  font-family: $helvetica;
  font-size: 14px;
}

header {

}

#content {

}

footer {

}

.content_wrapper {
  max-width: 800px;
  @include outer-container;
}

a, a:visited {
  color: $dturqoise;
  text-decoration: none;
}

a:hover {
  color: $dpink;
}

.index {
  .post {
    @include span-columns(12);

    border-bottom: 1px dotted $lgrey;
    padding     : 0.2em;
    line-height : 1.5em;

    .date {
      @include span-columns(2 of 12);

      text-align  : right;
      font-family : $monospace;
      color       : $dgrey;
    }

    .title {
      @include span-columns(10 of 12);
    }
  }
}
