body {
  @include outer-container;

  margin      : 0 auto;
  font-family : $helvetica;
  font-size   : $font-size;
  color       : $black;

  text-rendering: optimizeLegibility;
}

header {
  @include span-columns(4);
  @include omega;
}

#center {
  @include span-columns(8);
  @include omega;
}

header {
  .title-color-bar {
    height: 1em;
    background-color: $dpink;
  }

  .aside-color-bar {
    height: 1em;
    background-color: $myellow;
  }


  #profile {
    @include pad;
    text-align: center;

    h1 {
      margin : 0.5em 0 0 0;

      a, a:visited, a:hover {
        color: $black;
        text-decoration : none;
        word-break      : break-all;
      }
    }

    h2 {
      @include yanone;
      margin : -0.2em 0 1em 0;
      color  : $mgrey;
    }
  }

  #projects, #elsewhere {
    @include span-columns(2 of 4);
    @include pad;

    h2 {
      margin-bottom: 0.5em;
    }

    ul {
      li {
        @include pad(0.2em 0);
      }
    }
  }
}

#center {
  .color-bar {
    height: 1em;
    background-color: $lturqoise;
  }

  #content {
    @include pad(1em 2em);
  }
}

footer {
  @include span-columns(12);
  @include pad;

  text-align: right;
  font-size : 0.8em;
  color     : $mgrey;
}
