header, #center, footer {
  @include media($mobile) {
    @include span-columns(6);
  }
}

header {
  @include media($mobile) {
    .title-color-bar {
      height: 0.4em;
    }

    #profile {
      h1 {
        margin: 0;
        font-size: 2em;
      }

      h2 {
        margin: 0;
        font-size: 1.2em;
      }
    }

    .aside-color-bar, #projects, #elsewhere {
      display: none;
    }
  }
}

#center {
  @include media($mobile) {
    .color-bar {
      height: 0.4em;
    }

    #content {
      @include pad;
    }
  }
}

footer {
  @include media($mobile) {
    display: none;
  }
}

.index {
  @include media($mobile) {
    h2 {
      display: none;
    }

    .date {
      font-size: 0.8em;
    }
  }
}
