.index, .post {
  h2 {
    margin-top: 1.2em;
  }

  .date {
    @include mono;
    color: $mgrey;
  }
}

.index {
  h2 {
    margin-bottom : 1.8em;
  }

  .post-link {
    padding       : 0.2em;
    border-bottom : 1px dotted $lgrey;
    line-height   : 1.5em;
  }
}

.post {
  h2 {
    margin-bottom : 0.2em;
  }

  section {
    line-height   : 1.5em;
    margin-top    : 2em;
  }
}
