.index {
  h3 {
    margin: 1.2em 0 0.6em 0;
  }

  .post {
    padding       : 0.2em;
    border-bottom : 1px dotted $lgrey;
    line-height   : 1.5em;

    .date {
      font-family : $monospace;
      font-size   : 0.8em;
      color       : $mgrey;
    }
  }
}

.post {
  h3 {
    margin: 1.2em 0 0.6em 0;
  }
}  
