<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta content='Winston Teo Yong Wei' name='author' />
    <link href='/assets/css/application.css' media='screen' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header>
      <div class='content_wrapper'>
        <h1>WinstonYW</h1>
        <div class='intro'>
          Creating Value & Getting Things Done
        </div>
      </div>
    </header>
    <div id='content'>
      <div class='content_wrapper'>
        {{ content }}
      </div>
    </div>
    <footer>
      <div class='content_wrapper'></div>
    </footer>
  </body>
</html>
